doctype html
html
  head
    title  Kakao
    script.
    style.
      @import url(/static/kakaoDesign.css);
  body
    header#header
      #header_top
        p
          | kakao
          b talk
      #header_man
        a(href='/main')
          img(src='/static/kakaoman.png', title='친구', width='50px;')
      #header_ball
        a(href='/chat')
          img(src='/static/kakaoball.png', title='채팅', width='50px;')
      #header_dot
        img(src='/static/kakaodot.png', title='더보기', width='50px;')
      #header_alarm
        img(src='/static/kakaoalarm.png', title='알림', width='30px;')
      #header_menu
        img(src='/static/kakaomenu.png', title='메뉴', width='30px;')
    section#section
      form(action='/search' method='get')
          #nameSearch
            input(type='text', name='koreanName',placeholder='이름검색')
            input(type='submit') 
      hr
      p  내 프로필 
      hr
    
      div
        table#section_table_group
            tr
                td.table_left
                    img(src='/static/kakaofriend.png')
                td.table_chat_center #{row.koreanName}
                td.table_chat_right 
                    a(href='/kakaoFriendsAdd/' + row.userId)
                        input(type='button', value='친구추가')
                        
      
          
    //
      <aside>
      <div id="div_1">
      <img src=kakao.png width=35px;>
      </div>
      <div id="div_2" class="div_2">
      <a href="http://www.kakaocorp.com/main">
      <img src=kakao1.png width=35px;>
      </a>
      </div>
      <div id="div_3" class="div_3">
      <a href="http://game.kakao.com/">
      <img src=kakao2.png width=35px;>
      </a>
      </div>
      <div id="div_4" class="div_4">
      <img src=kakao3.png width=35px;>
      </div>
      <script>
      var div_but1 = document.getElementById("div_1")
      var div_but2 = document.getElementById("div_2")
      var div_but3 = document.getElementById("div_3")
      var div_but4 = document.getElementById("div_4")
      div_but1.addEventListener("click", click);
      div_but4.addEventListener("click", clickOrigin);
      function click(){
      div_but2.classList.add("div_position")
      div_but3.classList.add("div_position")
      div_but4.classList.add("div_x_position")
      document.getElementsByTagName("section")[0].style.backgroundColor="black"
      document.getElementsByTagName("section")[0].style.opacity = 0.1;
      }
      function clickOrigin(){
      div_but2.classList.remove("div_position")
      div_but3.classList.remove("div_position")
      div_but4.classList.remove("div_x_position")
      document.getElementsByTagName("section")[0].style.backgroundColor="white"
      document.getElementsByTagName("section")[0].style.opacity = 1;
      }
      </script>
      </aside>
    footer#footer
      p 재미로 만든 카카오톡 디자인 
      p by virtus_minwoo
