doctype html
html
  head
    title  event 
    script.
    style.
      @import url(/static/kakaoDesign.css);
  body
    header#header
      #header_top
        p
          | kakao
          b talk
      
    section#section
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      #section_register
        h2  로그인 
        br
        hr
        br
        form#register(action='/login', method='post')
          input(type='text', name='userId', placeholder='아이디')
          br
          input(type='password', name='password', placeholder='비밀번호')
          br
          br
          input(type='submit', value='접속')
          br
          br
          hr
          br
          a(href='/register')
            input(type='button', value='회원가입')
    //
      <aside>
      <div id="div_1">
      <img src=kakao.png width=35px;>
      </div>
      <div id="div_2" class="div_2">
      <a href="http://www.kakaocorp.com/main">
      <img src=kakao1.png width=35px;>
      </a>
      </div>
      <div id="div_3" class="div_3">
      <a href="http://game.kakao.com/">
      <img src=kakao2.png width=35px;>
      </a>
      </div>
      <div id="div_4" class="div_4">
      <img src=kakao3.png width=35px;>
      </div>
      <script>
      var div_but1 = document.getElementById("div_1")
      var div_but2 = document.getElementById("div_2")
      var div_but3 = document.getElementById("div_3")
      var div_but4 = document.getElementById("div_4")
      div_but1.addEventListener("click", click);
      div_but4.addEventListener("click", clickOrigin);
      function click(){
      div_but2.classList.add("div_position")
      div_but3.classList.add("div_position")
      div_but4.classList.add("div_x_position")
      document.getElementsByTagName("section")[0].style.backgroundColor="black"
      document.getElementsByTagName("section")[0].style.opacity = 0.1;
      }
      function clickOrigin(){
      div_but2.classList.remove("div_position")
      div_but3.classList.remove("div_position")
      div_but4.classList.remove("div_x_position")
      document.getElementsByTagName("section")[0].style.backgroundColor="white"
      document.getElementsByTagName("section")[0].style.opacity = 1;
      }
      </script>
      </aside>
    footer#footer
      p 재미로 만든 카카오톡 디자인 
      p by virtus_minwoo
