doctype html
html
  head
    title  event 
    script.
    style.
      @import url(/static/kakaoDesign.css);
  body
    header#header
      #header_top
        p
          | kakao
          b talk
      #header_man
        a(href='/main')
          img(src='/static/kakaoman.png', title='친구', width='50px;')
      #header_ball
        a(href='/chat')
          img(src='/static/kakaoball.png', title='채팅', width='50px;')

      #header_dot
        img(src='/static/kakaodot.png', title='더보기', width='50px;')
      #header_alarm
        img(src='/static/kakaoalarm.png', title='알림', width='30px;')
      #header_menu
        img(src='/static/kakaomenu.png', title='메뉴', width='30px;')
    section#section.section_chat_background
      #nameSearch
        input(type='text', placeholder='채팅방 이름, 참여자 검색')
      hr
      br
      br
      form(action='/chat/write', method='post')
        p 작성자
        input(type='text', name='displayName')
        br
        p 제목
        input(type='text', name='title')
        br
        p 내용
        input(type='text', name='content', style='width:380px; height:200px;')
        br
        p 비밀번호
        input(type='password', name='password')
        br
        input(type='submit', value='전송')
        br
        br
      a(href='/chat') 채팅창으로 돌아가기

    footer#footer
      p 재미로 만든 카카오톡 디자인 
      p by virtus_minwoo
