doctype html
html
  head
    title  event 
    script.
    style.
      @import url(/static/kakaoDesign.css);
  body
    header#header
      #header_top
        p
          | kakao
          b talk
      #header_man
        a(href='/main')
          img(src='/static/kakaoman.png', title='친구', width='50px;')
      #header_ball
        a(href='/chat')
          img(src='/static/kakaoball.png', title='채팅', width='50px;')

      #header_dot
        img(src='/static/kakaodot.png', title='더보기', width='50px;')
      #header_alarm
        img(src='/static/kakaoalarm.png', title='알림', width='30px;')
      #header_menu
        img(src='/static/kakaomenu.png', title='메뉴', width='30px;')
    section#section.section_chat_background
      #nameSearch
        input(type='text', placeholder='채팅방 이름, 참여자 검색')
      hr
      br
      br
      
      h2= row.title + ' 제목의 글을 삭제하시겠습니까? '
      br
      h3 삭제시 기록된 것은 사라집니다.
      br
      form(action='/chat/delete/'+ row.boardId, method='post')
          p
              input(type='submit' value='네')
          br
          a(href='/chat/read/'+ row.boardId) 
              button 아니요
    footer#footer
      p 재미로 만든 카카오톡 디자인 
      p by virtus_minwoo
