doctype html
html
  head
    title  Kakao
    script.
    style.
      @import url(/static/kakaoDesign.css);
  body
    header#header
      #header_top
        p
          | kakao
          b talk
      #header_man
        a(href='/main')
          img(src='/static/kakaoman.png', title='친구', width='50px;')
      #header_ball
        a(href='/chat')
          img(src='/static/kakaoball.png', title='채팅', width='50px;')
      #header_dot
        img(src='/static/kakaodot.png', title='더보기', width='50px;')
      #header_alarm
        img(src='/static/kakaoalarm.png', title='알림', width='30px;')
      #header_menu
        img(src='/static/kakaomenu.png', title='메뉴', width='30px;')
    section#section
      form(action='/search' method='get')
          #nameSearch
            input(type='text', name='koreanName',placeholder='이름검색')
            input(type='submit') 
      hr
      p  내 프로필 
      hr
      table#section_table_me
          tr
            td.table_left
              img(src='/static/kakaome.png')
            td.table_right #{dbKoreanName}
      
      p  친구 
      hr
      table#section_table_friend
          -each rowss in rows
                tr
                    td.table_left
                        img(src='/static/kakaofriend.png')
                    td.table_right= rowss.friendsKoreanName
                            

          
    
    footer#footer
      p 재미로 만든 카카오톡 디자인 
      p by virtus_minwoo
