doctype html
html
  head
    title  event 
    script.
    style.
      @import url(/static/kakaoDesign.css);
  body
    header#header
      #header_top
        p
          | kakao
          b talk
      #header_man
        a(href='kakao.html')
          img(src='/static/kakaoman.png', title='친구', width='50px;')
      #header_ball
        a(href='kakaoChat.html')
          img(src='/static/kakaoball.png', title='채팅', width='50px;')
      #header_dot
        img(src='/static/kakaodot.png', title='더보기', width='50px;')
      #header_alarm
        img(src='/static/kakaoalarm.png', title='알림', width='30px;')
      #header_menu
        img(src='/static/kakaomenu.png', title='메뉴', width='30px;')
    section#section
      br
      br
      br
      br
      br
      #section_register
        h2  #{row.koreanName} 을 친구로 추가하시겠습니까? 
        br
        hr
        br
        form#freindsAdd(action='/kakaoFriendsAdd/' + row.userId, method='post')
            input(type='submit', value='예 추가합니다.')
        br
        hr
        br
        a(href='/main')
            input(type='button', value='아니요 추가하지 않습니다.')

    footer#footer
      p 재미로 만든 카카오톡 디자인 
      p by virtus_minwoo
