        *{
            margin : 0;
            padding : 0;
        }
        
        
        hr{
            border: 1px solid #EFEFEF;
        }
        
        #header{
            position : fixed;
            background-color: #523738;
            width : 400px;
            height : 90px;
            z-index : 11;
        }
        
        #header_top p{
            position : absolute;
            top : 10px;
            left : 10px;
            color : white;
        }
        
        #nameSearch{
            position : fixed;
            top : 90px;
            width : 400px;
            height : 40px;
            background-color : #F5F5F5;
        }
     
        #nameSearch input[type=text]{
            font-size : 11px;
            padding-left: 25px;
            background-image: url("kakaoname.png");
            background-position: 0 5%;
            background-size : 13%;
            background-repeat: no-repeat; 
            position : absolute;
            left : 10px;
            top : 10px;
            width : 355px;
            height : 22px;
            border : 1px solid lightgray;
        }
        
        #nameSearch input[type=text]:focus{
            padding-left: 25px;
            background-image: url("kakaoname.png");
            background-position: 0 5%;
            background-size : 13%;
            background-repeat: no-repeat; 
            position : absolute;
            left : 10px;
            top : 10px;
            width : 355px;
            height : 22px;
            border : 1px solid skyblue;
        }
        
        #nameSearch input[type=submit]{
            position : absolute;
            left : 0;
            width : 1px;
            height : 1px;
        }



        #header_man{
            position : absolute;
            left : 5px;
            top : 40px;
            z-index: 5;
        }
        
/*

#header_man:hover{
    position : absolute;
    left : 5px;
    top : 40px;
    width : 50px;
    background-image: url("kakaomanHover.png");
    z-index: 11;
}
*/


        #header_ball{
            position : absolute;
            left : 65px;
            top : 40px;
        }
        
        #header_dot{
            position : absolute;
            left : 125px;
            top : 40px;
        }
        
        #header_alarm{
            position : absolute;
            left : 325px;
            top : 40px;
        }
        
        #header_menu{
            position : absolute;
            left : 360px;
            top : 38px;
        }
        
        
        #section{
            position : relative;
            top : 130px;
            width : 400px;
            height : 100%;
        }

        .section_chat_background{
            background-color : #A0C0D7;
        }
        
        .section_chat_background input[type=submit]{
            width : 70px;
            height: 33px;
            background-color: #f5e340;
            color : black;
            border : 0px;
        }
        
        .section_chat_background button{
            width : 70px;
                    height: 33px;
                    background-color: #f5e340;
                    color : black;
                    border : 0px;
        }

        #section p{
            font-size : 12px;
            padding : 8px;
            color : #7D5D9A;
        }
        
        .table_left{
            width : 50px;
        }
        
        .table_right{
            width :340px;
        }
        
        table{
            border-collapse: collapse;
        }
        
        

        #section_table_me td, #section_table_group td, #section_table_star td,#section_table_friend td{
            padding : 7px;
            font-size : 13px;
        }
        

        #section_table_me tr:hover, #section_table_group tr:hover, #section_table_star tr:hover,#section_table_friend tr:hover{
            background-color : #F5F5F5;
            padding : 7px;
            font-size : 12px;
        }
        
    
        
        .table_chat_center{
            width : 300px;
            font-weight: 900;
        }
    
        
        .table_left{
            padding : 15px;
            font-size : 12px;
        }
        
        .table_chat_center{
            font-size : 12px;
        }
        
        .table_chat_right{
            width : 60px;
            font-size : 5px;
            color : lightgray;
        }
       
        #section_table_chat tr span{
            color : gray;
                font-weight : 500;
        }


        #section_table_chat tr:hover{
            background-color : #F5F5F5;
            padding : 15px;
            font-size : 12px;
        }

   
    
/*        회원가입 register*/
        
        #section_register{
            text-align: center;
        }

        #register input[type=text],#register input[type=password],#register input[type=email]{  
            display : inline-block;
            width : 200px;
            height: 30px;
            font-size : 16px;
        }


        #register input[type=text]:hover,#register input[type=password]:hover,#register input[type=email]:hover{
            background-color: aliceblue;
        }

        #register input[type=submit],#register input[type=button]{
            width : 70px;
            height: 33px;
            background-color: #523738;
            color : white;
            border : 0px;
        }
        





        #div_1{
            position : fixed;
            bottom : 100px;
            left : 340px;
            border-radius : 60px;
            width : 60px;
            height : 60px;
            background-color : #FFEB35;
            text-align: center;
            line-height: 80px;
        }
        
        
        #div_2{
            position : fixed;
            bottom : 170px;
            left : -999;
            border-radius : 60px;
            width : 60px;
            height : 60px;
            background-color : #fae100;
            text-align: center;
            line-height: 80px;
        }
        
        .div_2{
            position : fixed;
            bottom : 150px;
            left : 1999px;
        }
        
        #div_3{
            position : fixed;
            bottom : 240px;
            left : -999;
            border-radius : 60px;
            width : 60px;
            height : 60px;
            background-color : #ffeb00;
            text-align: center;
            line-height: 80px;
        }
        
        .div_3{
            position : fixed;
            left : 1999px;
        }
        .div_position{
            transition : left 1s;
            left : 340px;
        }
        
        #div_4{
            border-radius : 60px;
            width : 60px;
            height : 60px;
            background-color : #f6da5f;
            text-align: center;
            line-height: 80px;
        }
        
        .div_4{
            position : fixed;
            bottom : 100px;
            left : 1999px;
        }
        
        .div_x_position{
            position : fixed;
            transition : left 1s;
            left : 250px;
            
        }
        
        
        #footer{
            position : fixed;
            background-color : gray;
            color : white;
            bottom : 0px;
            width : 400px;
            height : 60px;
            text-align: center;
            line-height: 30px;
        }